.check-box {
  margin-bottom: 30px;
}

.check-box__label {
  margin: 0px;

  display: flex;
  align-items: center;

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
  cursor: pointer;
}

.check-box__input {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.checkbox__icon {
  margin-right: 8.38px;

  cursor: pointer;
  fill: none;

  border: 2px solid var(--logo);
  opacity: 0.3;
  transition: fill var(--animation-duration) var(--timing-function);
}

.check-box__input:checked + .checkbox__icon {
  border: none;
  fill: var(--accent-color);
  opacity: 1;
}

.check-box__link {
  margin-left: 5px;
  color: var(--accent-color);
}

.check-box__button {
  display: flex;
  margin-left: auto;
  margin-right: auto;

  padding-left: 56px;
  padding-right: 55px;
  padding-top: 10px;
  padding-bottom: 10px;

  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--white-color);
  background-color: var(--accent-color);
  cursor: pointer;

  text-align: center;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
}
