.page-header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-header__navigation {
  display: flex;
  align-items: center;
}

.page-header__portfolio {
  border-bottom: 1px solid rgba(236, 236, 236, 1);
}

.site-menu {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
}

.site-menu__link {
  color: var(--text-nav-title-color);
  display: inline-block;
  padding-top: 32px;
  padding-bottom: 32px;

  transition: color var(--animation-duration) var(--timing-function);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.site-menu--current {
  color: var(--accent-color);
  position: relative;

  &::after {
    content: '';
    display: block;

    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    border-radius: 2px;

    background-color: var(--accent-color);
  }
}

.site-menu__item:not(:last-child) {
  margin-right: 50px;
}

.header-address {
  display: flex;
  margin-left: auto;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
}

.header-address__item:not(:last-child) {
  margin-right: 50px;
}

.header-address__link {
  display: flex;
  align-items: center;

  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-decoration: none;
  font-style: normal;

  color: var(--primary-text-color);

  transition: color var(--animation-duration) var(--timing-function);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.header-address__icon {
  margin-right: 10px;
  fill: currentColor;
}
