.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--background);
}

.page-footer__container {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}

.page-footer__logo {
  display: inline-block;
  margin-bottom: 20px;
  font-family: 'Raleway', sans-serif;
  font-size: 26px;

  color: var(--white-color);
}

.page-footer__text {
  margin-bottom: 9px;
  font-weight: normal;
  font-size: 14px;
  font-style: normal;

  color: var(--white-color);
}

.page-footer__link {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-style: normal;

  color: var(--fotter-contacts);

  font-weight: 400;
  font-size: 14px;
  line-height: 1.9;
  letter-spacing: 0.03em;

  transition: color var(--animation-duration) var(--timing-function);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.page-footer__social-media {
  margin-left: 70px;
}

.social-media__text {
  margin-bottom: 20px;

  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--white-color);
}

.social-media__link--color {
  display: inline-flex;
  width: 44px;
  height: 44px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 50%;

  color: var(--white-color);
  background: var(--footer-social-links);

  transition: background-color var(--animation-duration) var(--timing-function),
    color var(--animation-duration) var(--timing-function);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

.social-media__icon--color {
  fill: currentColor;
}

.page-footer__subscribe {
  margin-left: 93px;
}

.subscribe__label {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
}

.subscribe__form {
  display: flex;
  align-items: baseline;
}

.subscribe__input-wrapper {
  margin-top: 20px;
}

.subscribe__input {
  width: 358px;
  margin: 0px;
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;

  background-color: transparent;
  color: rgba(255, 255, 255, 0.6);

  font-family: inherit;
  font-size: 16px;
  line-height: 1.25;
}

.subscribe__button {
  display: flex;
  align-items: center;

  margin-left: 12px;
  padding-left: 29px;
  padding-right: 28px;
  padding-top: 10px;
  padding-bottom: 10px;

  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;

  color: var(--white-color);
  background-color: var(--accent-color);

  cursor: pointer;
}

.subscribe__icon {
  margin-left: 10px;
  fill: var(--white-color);
}
