.social-media__list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-media__item:not(:last-child) {
  margin-right: 10px;
}

.social-media__link {
  display: inline-flex;
  width: 44px;
  height: 44px;

  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 50%;

  color: var(--social-links);

  transition: background-color var(--animation-duration) var(--timing-function),
    color var(--animation-duration) var(--timing-function);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
    color: var(--white-color);
  }
}

.social-media__icon {
  fill: currentColor;
}
