:root {
  --primary-text-color: #757575;
  --text-nav-title-color: #212121;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --fotter-contacts: rgba (255, 255, 255, 0.6);
  --logo: #000000;
  --background: #2f303a;
  --section-background: #f5f4fa;
  --social-links: #afb1b8;
  --footer-social-links: rgba(255, 255, 255, 0.1);
  --background-overlay: rgba(47, 48, 58, 0.8);
  --background-thumb: rgba(33, 150, 243, 0.9);
  --modal-background: rgba(0, 0, 0, 0.2);

  --animation-duration: 250ms;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
